/* 
	Index.html
*/
/* Common css */

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 20px;
}
.txt_title {
    font-size: 14px;
    color: #4a9ad7;
}
.root {
    margin: 5px 0;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #000;
}
.test_div {
    margin-top: 20px;
    
    font-size: 12px;
}
.test_datejs {
    margin-top: 20px;
}
.show_date_txt {
	display: block;
	margin-top: 5px;
    width: 350px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-indent: 5px;
    color: #ea5d5d;
    border: 1px solid #99c5f0;;
}
.flatpickr_input {
    display: inline-block;
    width: 200px;
    height: 30px;
    vertical-align: middle;
    color: #4e4c4c;
    border: 1px solid #99c5f0;
    font-size: 14px;
    text-indent: 5px;
}
.iscroll_wrap {
    margin-top: 20px;
}
.iscroll_obj {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
}
.scroll_ul {
    width: 100%;
}
.scroll_ul>.list_item {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #4ea876;
}
.url_test {
    margin-top: 20px;
    width: 200px;
}
.tpl_test{
    margin-top: 20px;
}
.test_img{
    width: 100px;
    height: 100px;
}
.img_bg{
    width: 100px;
    height: 100px;
    background: url(../images/b.png) 0 0 no-repeat;
    background-size: 100% 100%;
}